h1= title

for post in postList
  div.items
    a(href="/post/#{post._id}")
      h2.sujet #{post.subject}
    div.corp #{post.body}
    div#info 
      div.tags
        for tag in post.tags
          span #{tag}
      div.post-time
        span.heurepost #{moment(post.created).format('LLL')}