h1 #{post.subject}

div.body #{post.body}

div.tags
  for tag in post.tags
    span #{tag}
div Posté par: #{post.author.username}, le : #{moment(post.created).format('DD/MM/YYYY')}

h2 Commentaire utilisateurs

form(name="delete-form",method="post",action="/post/delete")
- if (post.comments)
    for comment in post.comments
      div.comment   
        div #{comment.body}
        div commenté par #{comment.name}
        div posté : #{moment(comment.created).fromNow()}
        - if (user)
          input(type="submit",name="deleteComment",value="Supprimer").btn.btn-danger
- else
      div aucun commentaire
    

h2 Ajouter un commentaire
form(name="add-comment",method="post",action="/post/comment").col-md-5
  input(type="hidden",name="id",value="#{post._id}")
  div.form-group
    div
      label.input-group-addon Nom :
    input(type="text", name="name").form-control
  div.form-group
    div
      label.input-group-addon Commentaire :
    textarea(name="comment", rows="10", cols="20").form-control
  div.form-group
    input(type="submit",name="send",value="Ajouter").btn.btn-success